*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  font-size: 100%;
  width: 100%;
  position: relative;
  background: -webkit-linear-gradient(top, white, lavender);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, white, lavender);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, white, lavender);
  /* For Firefox 3.6 to 15 */
}

body {
  font-family: 'Copperplate';
  height: 100vh;
  background-color: transparent;
}

.mainView {
    background-image: url("/assets/images/tea_friends.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

.col-md-4 {
  float: left;
  max-height: 100vh;
  overflow-y: auto;
  width: 30%;
  padding: 35px;
  margin-right: 35px;
}

.col-md-8.messages {
  padding: 50px 35px 100px 0;
  max-height: 100vh;
  overflow-y: scroll;
}

#room-title {
  padding: 10px 0px 0px 0px;
  border-bottom-color: black;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.col-md-8.input-group {
  width: 70%;
  float: right;
  padding-right: 10px;
}

div.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    width: 100%;
    background-color: lightblue;
    border-radius: 2px;
    color: black;
    padding: 16px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font
}

div.button:hover {
    background-color: lightgrey;
/*    color: white;*/
}

ng-repeat {
  padding-top: 10px;
  font-size: 16px;
  text-decoration: underline;
  
}
div.ng-repeat {
  overflow-y: auto;
}

.new-room {
  border-color: black;
  border-width: thin;
}

